[submodule "llvm/include/llvm/Transforms/Obfuscation"]
	path = llvm/include/llvm/Transforms/Obfuscation
	url = https://github.com/huami1314/Hikari-LLVM15-Backup.git
	branch = headers

[submodule "llvm/lib/Transforms/Obfuscation"]
	path = llvm/lib/Transforms/Obfuscation
	url = https://github.com/huami1314/Hikari-LLVM15-Backup.git
	branch = core
